<%= render 'shared/content_title', title: 'Create a new account' %>

<%= render 'shared/errors', object: @user %>
<div class="well">
  <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
      <div class="control-group">
        <%= f.label :username, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :username %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="controls">
        <%= f.submit 'Create Account', class: 'btn' %>
      </div>
  <% end %>
    
</div>